@{
    ViewData["Title"] = "Acceuil";
}

<div class="text-center">
    <h1 class="display-4">Acceuil</h1>
    <p>Projet de ASP.NET 02/2020 </p>
    <p>https://github.com/TheoGaschardYnov/NETBikes</p>
</div>
