@{
    ViewData["Title"] = "Liste des stations";

    var Datastations = ViewBag.AllBikeStations;
}
<h1>@ViewData["Title"]</h1>

<p>La liste des stations du réseau du vélo</p>

@foreach (var station in Datastations)
{<p>@station.available_bikes vélos réstants. Adresse :  @station.address</p>

}
